<h1> Lawn and Gardening Information </h1>

<div class="dropdown">
  <button class="dropbtn">More</button>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="/lawn">Lawn Information</a>
    <a href="/flowers">Flowers Information</a>
    <a href="/landscape">Lanscaping information</a>
  </div>
</div>

<img src="https://www.pennington.com/-/media/Images/Pennington2-NA/US/blog/seed/Tips-from-the-pros/tips-from-the-pros_header-jpg.jpg?h=480&la=en&w=1140&hash=A691D39C8A6EA94766D189CD0B72E927DEFC197A" alt="newtext" height=300px width=285px class="center">

<p class="center"><a href="https://www.pennington.com/-/media/Images/Pennington2-NA/US/blog/seed/Tips-from-the-pros/tips-from-the-pros_header-jpg.jpg?h=480&la=en&w=1140&hash=A691D39C8A6EA94766D189CD0B72E927DEFC197A"> Image by Pennington.com</a></p>


<div class="scrollDiv">
	This page is intended to have information relating to lawn care, flowers, and landscaping. If you are looking to simply spruce up your lawn for the spring, or totally renovate your lawn, this is the place for you! Check out the subscribe option at the bottom of the page if you want to stay up to date on all the latest recommendations and products that are highly recommended. At the bottom of the page is more information on various websites that we like to visit to check out new tools, information, and resources from. If you have any other questions about our content or need a little bit more information, check out those pages as they are likely to have some great information!
</div>


<form action = http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php method="post">
            <fieldset>
                <legend>Subscribe</legend>
                <fieldset>   
                    <label>Input Email:
                        <input type="text" name = "text_input" size = "35" maxlength="100"></label>
                </fieldset>
                    
            
                <br />

                    <p>   
                        <label>
                            <input type="radio" name="option" value="Weekly" />I would like to receive Weekly emails</label> 
                    </p>
                    <p>
                        <label>
                            <input type="radio" name= "option" value="Promotional" />I would like to receive promotional emails</label>
                    </p>

                        <input type="submit" value="Submit"/>
            </fieldset>                   
        </form>

<a href="https://i.ytimg.com/vi/fFE4rasTBsA/maxresdefault.jpg" download>
  <img src="https://i.ytimg.com/vi/fFE4rasTBsA/maxresdefault.jpg" alt="Download the Image of our Locations here! Courtesy of www.easymapmaker.com" width="104" height="142">
</a>
