<h1> Flowers Information </h1>


<div class="dropdown">
  <button class="dropbtn">More</button>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="/lawn">Lawn Information</a>
    <a href="/flowers">Flowers Information</a>
    <a href="/landscape">Lanscaping information</a>
  </div>
</div>

<img src="https://www.gardeningknowhow.com/wp-content/uploads/2007/03/flowers-1.jpg" alt="flowers" height=500px width=375px class="center">

<p class="center"><a href="https://www.gardeningknowhow.com/special/starting/how-to-start-your-flower-garden.htm"> Image by gardeningknowhow.net</a></p>

<h2>Flowers!</h2>
<p>Flowers are a great way to add some color and life into your yard. They can attract birds and wildlife of all sorts. This can really help compliment a newly landscaped yard, or a nice green lawn that you have been taking care of. While it may seem like an easy task to simlpy just plant some flowers, it can be a difficult task to get everything planted and looking great sometimes. Here are a few things to keep in mind when picking out and planting flowers.</p>

<br  />

<h3>What type should I pick?</h3>
<p> This can be the hardest part. I would talk about in this section lots of things relating to perrenial and annual flowers, size of flowers, and other information that may be useful to someone interested. Picking out flowers can be difficult so I would put some information here that would describe how to pick out flowers the best. </p>

<br  />

<h3>Planing</h3>
<p> Planting is failry simple. I would talk about here the best method for planting such as digging an appropriately sized hole, putting some water it in, loosening the roots on the plant, and lightly packing in the soil afterwards. These are all very important peices to the puzzle and would be good to know when planting flowers in a garden and yard.</p>

<br  />

<h3>Watering</h3>
<p>You should be watering your Flowers every couple of days per week depending on where you live and the season. Typically in warmer climates, you will need to actually be watering more, and the opposite is true if you live in a colder climate. You will want to make sure that the ground is dry before considering adding more water if you have been watering thoroughly. </p>