<h1> Landscaping information</h1>


<div class="dropdown">
  <button class="dropbtn">More</button>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="/lawn">Lawn Information</a>
    <a href="/flowers">Flowers Information</a>
    <a href="/landscape">Lanscaping information</a>
  </div>
</div>


<img src= "http://danielslawnandgarden.com/wp-content/uploads/2014/10/4.jpg" alt="landscape" height=380px width=960px class="center">

<p class="center"><a href="https://danielslawnandgarden.com/landscaping-services/"> Image by danielslawnandgarden.com</a></p>


<h2>Landscaping!</h2>
<p>Landscaping can change the entire look of your yard to go from looking ok to looking amazing. It can however be a very daunting task and can be very intimidating as to what you should be doing. I will walk you through a couple of things to consider before your next home project that you may want to do next. </p>

<br  />

<h3>Who to choose</h3>
<p> For your next landscaping project, it is always an exciting idea. However, sometimes this can be ruined by not knowing who to choose to do the project for you. This is what I would have as a full discussion here. I would recommend looking into reviews, and other recommendations for your area. Possibly even look at some of the past work that they have done in order to get a good idea of what they would be possibly doing in your yard. </p>

<br  />

<h3>What whould you know first?</h3>
<p> Image that there is some really useful information here on what you would want to know first before landscaping. This could be the costs, the amount of work it will take, the time it will take, and other options like style and size.</p>

<br  />

<h3>How much should I do?</h3>
<p>This is really up to you as the one who will be having to figure out a budget for your project. This could be just a small part of your lawn, or this could be the entire lawn. There are some great financing options out there if you are unsure whether or not you would like to commit to the cost, so check those out first before completly abandoning your project!</p>
