<h1> Lawn Information </h1>


<div class="dropdown">
  <button class="dropbtn">More</button>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="/lawn">Lawn Information</a>
    <a href="/flowers">Flowers Information</a>
    <a href="/landscape">Lanscaping information</a>
  </div>
</div>

<img src="https://images.unsplash.com/photo-1526392587392-d1627b6c134a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGdyYXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="grass" height=300px width=285px class="center">

<p class="center"><a href="https://images.unsplash.com/photo-1526392587392-d1627b6c134a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGdyYXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"> Image by unsplash.com</a></p>


<h2>Lawns!</h2>
<p>Lawns are great to have and can make a home look great when it is properly maintained and cared for. There are many things to keep in mind when thinking about what to do for your lawn including the season, age of the lawn, and your location. These factors may seem like something that are pretty obvious. If it is winter you don't water, if it is summer you water, and so on. But there is a trick to keeping your lawn green and looking great year round then just watering it at the right time and for the right length of time. </p>

<br  />

<h3>Watering</h3>
<p> You should be watering your lawn about 1 inch of water per week depending on where you live and the season. Typically in warmer climates, you will need to actually be watering more, and the opposite is true if you live in a colder climate. </p>

<br  />

<h3>Fertilizer</h3>
<p> Image that there is some really useful information here on fertilizing your lawn and how it will be good to fertilize frequently, but not heavily(or something like that). This data is bound to help keep your lawn green and looking great all year if followed and used properly.</p>

<br  />

<h3>Mowing</h3>
<p>For this section there would be some information about how to cut your grass, when to cut your grass, and desired heights of the grass when cutting. This can be a critical part of the process for keeping your lawn looking great all year so that there is no shock from cutting too much at one time.</p>