<h1>Workouts Results:</h1>


<form action = http://flip3.engr.oregonstate.edu:7957/ method="post">
    <label>Input name:</label><input type="text" name = "name"><br>
    <label>Input reps:</label><input type="text" name = "reps"><br>
    <label>Input weight:</label><input type="text" name = "weight"><br>
    <label>Input date:</label><input type="date" name = "date"><br>
    <label>Input llbs:</label><input type="bool" name = "llbs"><br>
	<input type="submit" value="Submit"/>                  
</form>
 event.preventDefault();


<p>{{{{#each dataList}}
     <tr>
     <td style = "border: 1px solid black">{{this.key}}</td>
     <td style = "border: 1px solid black">{{this.value}}</td>
     </tr>
  {{/each}}
</table>}}</p>